export _EXPERIMENTAL_DAGGER_CLOUD_TOKEN=2dcc41a9-7d48-49b5-95d4-6c210d3b8d62
export _EXPERIMENTAL_DAGGER_CLI_BIN=/Users/jeremyadams/src/dagger-fork/bin/dagger
export _EXPERIMENTAL_DAGGER_RUNNER_HOST=docker-container://dagger-engine.dev
export PATH=~/src/dagger-fork/bin:$PATH
